@model DataAccessLayer.Models.Product   
@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>  
<h4>Product</h4>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.Description)
            </th>
            <td>
                    @Html.DisplayFor(model => model.Description)
            </td>
        <tr>
            <th>
                        @Html.DisplayNameFor(model => model.Price)
            </th>
            <td>
                        @Html.DisplayFor(model => model.Price)
            </td>
        </tr>
    </thead>
</table>